<div class="container" style="border: 2px solid blueviolet;background-color: darkmagenta;">
  <div class="well" style="background-color: blueviolet;
color: antiquewhite;">
    <div class="row justify-content-center">
      <h3>Cognizant FSD Project Management </h3>
    </div>
  </div>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: darkmagenta;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style=" color: blanchedalmond;" routerLink="/addProject">Add Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style=" color: blanchedalmond;" routerLink="/addTask">Add Task</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style=" color: blanchedalmond;" routerLink="/addUser">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style=" color: blanchedalmond;" routerLink="/viewTask">View Task</a>
      </li>
    </ul>
  </nav>
  <br />
  <router-outlet></router-outlet>
</div>