<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-search-project">Select Project</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
   
  <div class="modal-body">
    <div class="input-group">
      <label for="searchKey">Search Project</label>
      <input type="text" class="form-control" [(ngModel)]="searchKey"  placeholder="search..." >
    </div><div>&nbsp;</div>
    <div>
      <Table class="table table-success table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Project Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Select</th>
          </tr>
        </thead>
        <tr class="table-hover" *ngFor="let project of projectList | projectSearch :searchKey ">           
          <td *ngIf="!project.completed">{{project.projectName}}</td>
          <td *ngIf="!project.completed">{{project.startDate}}</td>
          <td *ngIf="!project.completed">{{project.startDate}}</td>
          <td *ngIf="!project.completed">
            <input type="radio" name="radioGroup" value="project" (click)="select(project)" />
          </td>
        </tr>
      </Table>
    </div>
  </div>
</ng-template>
      
  <button class="btn btn-sm btn-success" (click)="open(content)">search</button>